{% extends 'layouts/base_dashboard.html' %}
{% block title %}Creator Dashboard{% endblock %}
{% load static %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
        <div class="bg-accent-500 rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-3xl font-bold text-light-100">{{ quiz_count }}</h2>
            <p class="text-light-50">Quiz{{ quiz_count|pluralize }}</p>
        </div>
        <div class="bg-primary-500 rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-3xl font-bold text-light-100">{{ subject_count }}</h2>
            <p class="text-light-50">Subject{{ subject_count|pluralize }}</p>
        </div>
        <div class="bg-tertiary-800 rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-3xl font-bold text-light-100">{{ active_whizzers_count }}</h2>
            <p class="text-light-50">Active Whizzers</p>
        </div>
    
    </div>

    <div class="mt-8">
        <h5 class="text-md font-medium capitalize text-accent-900">What do you want to do today?</h5>
         <hr class="my-4 border-2 border-accent-500">
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">

            <div class="bg-accent-800 shadow-md rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
                <a href="{% url 'quiz:quiz_create' %}"
                   class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                    New Quiz
                </a>
            </div>
            <div class="bg-tertiary-500 shadow-md rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
                <a href="{% url 'quiz:subject_create' %}"
                   class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                    New Subject
                </a>
            </div>
        </div>

    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}