{% extends 'layouts/base_dashboard.html' %}
{% block title %}Whizzer Dashboard{% endblock %}
{% load static %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
        <div class="bg-tertiary-300 shadow-md rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-blue-600">{{ quiz_count }}</h2>
            <p class="text-gray-600">Quiz{{ quiz_count|pluralize }}</p>
        </div>
        <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-green-600">{{ subject_count }}</h2>
            <p class="text-gray-600">Subject{{ subject_count|pluralize }}</p>
        </div>
        <div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-purple-600">{{ active_whizzers_count }}</h2>
            <p class="text-gray-600">Active Whizzers</p>
        </div>
    </div>

    <div class="mt-8">
       <h5 class="text-md font-medium capitalize text-accent-900">Quizzes</h5>
         <hr class="my-4 border-2 border-accent-500">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">

            <div class="bg-accent-800 shadow-md rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
                <a href="{% url 'quiz:quiz_create' %}"
                   class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                    New Quiz
                </a>
            </div>
            <div class="bg-tertiary-500 shadow-md rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
                <a href="{% url 'quiz:subject_create' %}"
                   class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                    New Subject
                </a>
            </div>
        </div>

    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}