{% extends 'layouts/base_dashboard.html' %}
{% block title %}Whizzer Dashboard{% endblock %}
{% load static %}

{% block content %}
    <div class="mt-8">
        <h5 class="text-md font-medium capitalize text-accent-900">Quizzes</h5>
        <hr class="my-4 border-2 border-accent-500">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for quiz in quizzes %}
                <div class="bg-accent-900 rounded-xl shadow-md p-6">
                    <h2 class="text-xl text-light-50 font-semibold mb-2">{{ quiz.title }}</h2>
                    <p class="text-light-600 mb-4">{{ quiz.description|truncatewords:20 }}</p>
                    <p class="text-sm text-light-500 mb-2">Subject: {{ quiz.subject.name }}</p>
                    <p class="text-sm text-light-500 mb-4">Time Limit: {{ quiz.get_time_limit_display }}</p>
                    <a href="{% url 'students:whizzer_quiz_detail' quiz.id %}"
                       class="text-light-50 bg-primary-500 hover:bg-primary-700 focus:ring-4
						focus:outline-none focus:ring-primary-300 font-medium rounded-xl text-sm px-5 py-3 text-center">View
                        Quiz</a>
                </div>
            {% empty %}
                <p class="col-span-3 text-center text-gray-500">No quizzes available at the moment.</p>
            {% endfor %}
        </div>

    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}