{% extends 'layouts/base_dashboard.html' %}
{% load static widget_tweaks custom_filters %}
{% block title %}Take Quiz{% endblock title %}
{% block css %}{% endblock css %}
{% block head_js %}{% endblock head_js %}
{% block head %}{% endblock %}
{% block content %}

<h5 class="mb-4 text-md font-bold text-gray-700 uppercase bg-accent-50 border-b-4 border-accent-500 p-4 shadow-xl rounded-xl">
    {{ attempt.quiz.title|title }} in Progress</h5>
<div class=" mx-auto p-6 bg-accent-50 shadow-lg rounded-lg mt-10">

    <!-- Quiz Title -->
    <div class="text-center mb-6">
        <p class="text-gray-500 mt-2">Time Left: <span id="time-left"
                                                       class="text-red-500">{{ time_left }} seconds</span></p>
    </div>

    <!-- Quiz Form -->
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="question_id" value="{{ question.id }}">

        <!-- Current Question -->
        <div class="mb-6">
            <h4 class="text-sm font-medium text-accent-800">{{ question.text }}</h4>
            <ul class="list-none space-y-4 mt-4">
                {% for choice in question.choices.all %}
                <li>
                    <label class="flex items-center space-x-2">
                        <input type="radio" name="answer" value="{{ choice.id }}"
                               class="form-radio h-5 w-5 text-blue-600" required>
                        <span class="text-gray-800">{{ choice.text }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Next Question or Finish -->
        <div class="flex justify-between mt-6">
            <button type="submit"
                    class="text-light-50 bg-accent-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-xl text-sm px-5 py-3 text-center">
                Next Question
            </button>
            <button type="submit" name="finish"
                    class="text-light-50 bg-primary-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-xl text-sm px-5 py-3 text-center">
                Finish Quiz
            </button>
        </div>
    </form>
</div>

<!-- Timer script -->
<script>
    const timeLeftElem = document.getElementById('time-left');
    let timeLeft = {{time_left}};
    
    const timerInterval = setInterval(() => {
        timeLeft--;
        timeLeftElem.textContent = `${timeLeft} seconds`;
        
        if (timeLeft <= 0) {
            clearInterval(timerInterval);
            alert("Time's up! Finishing quiz...");
            document.forms[0].submit(); // Automatically submit the form when time is up
        }
    }, 1000);
</script>

{% endblock content %}
{% block footer_js %}{% endblock footer_js %}
