{% load widget_tweaks %}


<div class="grid gap-4 lg:gap-6">
    <div>
        <label for="{{ form.email.id_for_label }}"
               class="block mb-2 text-sm text-gray-700 font-medium">{{ form.email.label }}</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor"
                     viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"></path>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"></path>
                </svg>
            </div>

            {% render_field form.email placeholder="yourname@email.com" %}
        </div>
        {% if form.email.errors %}
            <p class="mt-1 text-red-500 text-xs italic">{{ form.email.errors.0 }}</p>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.username.id_for_label }}"
               class="block mb-2 text-sm text-gray-700 font-medium">{{ form.username.label }}</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-secondary-500 dark:text-white"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     fill="currentColor"
                     viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                          d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>

            {% render_field form.username placeholder="username" %}
        </div>
        {% if form.username.errors %}
            <p class="pt-2 mt-1 text-red-500 text-xs italic">{{ form.username.errors.0 }}</p>
        {% endif %}
    </div>
</div>

