{% load widget_tweaks %}
<div class="mt-6 grid gap-4 lg:gap-6">
    
    <div class="grid gap-4 lg:gap-6">
        <div>
            <label for="{{ form.full_name.id_for_label }}"
                   class="block mb-2 text-sm text-secondary-700 font-medium">{{ form.full_name.label }}</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-secondary-500 dark:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="currentColor"
                         viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                              d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                              clip-rule="evenodd"></path>
                    </svg>
                </div>
                {% render_field form.full_name %}
            </div>
            {% if form.full_name.errors %}
                <p class="text-red-500 text-xs italic p-2.5 my-4 border border-red-600 border-solid rounded-md bg-red-50">{{ form.full_name.errors.0 }}</p>
            {% endif %}
        </div>
    
    </div>
    <!-- End Grid -->

</div>


<!-- End Grid -->

