{% extends 'layouts/base_dashboard.html' %}
{% load static widget_tweaks %}
{% block title %}Quiz{% endblock title %}
{% block css %}{% endblock css %}
{% block head_js %}{% endblock head_js %}
{% block head %}{% endblock %}
{% block content %}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">

        <div class="bg-accent-800 shadow-md rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-light-50">{{ quiz_count }}</h2>
            <p class="text-light-50">Quiz{{ quiz_count|pluralize }}</p>
        </div>
        <div class="bg-tertiary-500 shadow-md rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <a href="{% url 'quiz:quiz_create' %}"
               class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                New Quiz
            </a>
        </div>
    </div>
    <div class="mt-8">
        <h5 class="text-md font-medium capitalize text-accent-900">Available Quizzes</h5>
        <hr class="my-4 border-2 border-accent-500">
        <div class="mt-8 relative overflow-x-auto sm:rounded-xl">
            {% if quizzes %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-accent-50 dark:bg-gray-700">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Title
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Subject
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Description
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quiz in quizzes %}
                        <tr class="odd:bg-light-50 even:bg-accent-50 border-b">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ quiz.title }}
                            </th>
                            <td class="px-6 py-4">
                                {{ quiz.subject.name }}
                            </td>
                            <td class="px-6 py-4">
                                {{ quiz.description|truncatewords:20 }}
                            </td>
                            <td class="px-6 py-4">
                                <a href="{% url 'quiz:quiz_update' quiz.id %}"
                                   class="font-medium text-primary-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                    {% empty %}

                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center mb-4 text-accent-500">No quiz available at the moment.</p>

            {% endif %}
        </div>
    </div>

{% endblock content %}
{% block footer_js %}{% endblock footer_js %}