{% extends 'layouts/base_dashboard.html' %}
{% load static widget_tweaks %}
{% block title %}Subjects{% endblock title %}
{% block css %}{% endblock css %}
{% block head_js %}{% endblock head_js %}
{% block head %}{% endblock %}
{% block content %}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">

        <div class="bg-accent-800 shadow-md rounded-xl h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <h2 class="text-2xl font-bold text-light-50">{{ subject_count }}</h2>
            <p class="text-light-50">subject{{ subject_count|pluralize }} available</p>
        </div>
        <div class="bg-tertiary-500 shadow-md rounded-xl  h-32 md:h-64 p-4 flex flex-col justify-center items-center">
            <a href="{% url 'quiz:subject_create' %}"
               class="bg-primary-500 hover:bg-primary-700 text-light-50 font-bold py-3.5 px-4 rounded-xl">
                New Subject
            </a>
        </div>
    </div>

    <div class="mt-8">
        <h5 class="text-md font-medium capitalize text-accent-900">Available Subjects</h5>
    <hr class="my-4 border-2 border-accent-500">
        <div class="mt-8 relative overflow-x-auto sm:rounded-xl">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-accent-50 dark:bg-gray-700">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Description
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr class="odd:bg-light-50 even:bg-accent-50 border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ subject.name }}
                        </th>
                        <td class="px-6 py-4">
                            {{ subject.description }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'quiz:subject_update' subject.id %}"
                               class="font-medium text-primary-600 hover:bg-primary-700 hover:underline">Edit</a>
                        </td>
                    </tr>
                {% empty %}
                    <p class="col-span-3 text-center text-gray-500">No subjects available at the moment.</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
{% block footer_js %}{% endblock footer_js %}