{% extends 'layouts/_base.html' %}
{% load static widget_tweaks %}
{% block title %}Verify Your Email{% endblock title %}
{% block head_js %}
{% endblock head_js %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="h-screen flex items-center justify-center mb-4 relative">
        <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto relative z-10 w-full">
            <div class="relative flex flex-col items-center">
                <!-- Card -->
                <div class="bg-primary-50 border-4 border-secondary-700 w-full max-w-lg flex flex-col rounded-xl p-4 sm:p-6 lg:p-10">
                    <div class="text-center">
                        <h1 class="text-3xl font-bold text-secondary-700 text-left">Verify your email</h1>
                        <p class="text-sm text-left text-secondary-500 font-medium pt-4">Enter the one time password
                            that was sent to your email below.</p>
                    </div>
                    <form class="space-y-6" action="{% url 'users:verify_otp' user_id=user_id %}"
                          method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="{{ form.otp.id_for_label }}"
                                   class="block mb-2 text-sm text-gray-700 font-medium">{{ form.otp.label }}</label>

                            <div class="relative">
                                {% render_field form.otp placeholder="Enter the six digits otp code sent to your email" %}
                            </div>
                            {% if form.otp.errors %}
                                <p class="text-red-500 text-xs italic">{{ form.otp.errors.0 }}</p>
                            {% endif %}
                        </div>
                        <div>
                            <button type="submit"
                                    class="w-full py-3.5 px-4 inline-flex justify-center
                            items-center gap-x-2 text-sm font-bold rounded-xl border border-transparent
                            bg-primary-500 text-white focus:outline-none">
                                Verify OTP
                            </button>
                        </div>
                    </form>

                    <div class="mt-6">
                        <div class="relative">
                            <div class="absolute inset-0 flex items-center">
                                <div class="w-full border-t border-gray-300"></div>
                            </div>
                            <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">
              Didn't receive the code?
            </span>
                            </div>
                        </div>

                        <div class="mt-6">
                            <a href="{% url 'users:resend_otp' user_id=user_id %}"
                               class="w-full flex justify-center py-3.5 px-4 border border-transparent rounded-xl shadow-sm text-sm font-medium text-primary-600 bg-white hover:bg-secondary-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-500">
                                Resend OTP
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}