{% extends 'layouts/_base.html' %}
{% load static widget_tweaks %}
{% block title %}Signup{% endblock title %}
{% block css %}{% endblock css %}
{% block head_js %}
{% endblock head_js %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}
{% block content %}
    <div class="h-screen flex items-center justify-center mb-4 relative">
        <div class="grid grid-cols-2">
            <div class="flex flex-col">

                <p>Creator Signup</p>
                <a class="py-3 rounded-xl bg-primary-500" type="button" href="{% url 'users:creator_signup' %}">Create
                    Creator
                    Account</a>
            </div>


            <div class="flex flex-col">
                <p>Whizzer Signup</p>
                <a class="py-3 rounded-xl bg-primary-500" type="button" href="{% url 'users:whizzer_signup' %}">Create
                    Whizzer
                    Account</a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}