{% extends 'layouts/_base.html' %}
{% load static widget_tweaks %}
{% block title %}Signup{% endblock title %}
{% block css %}{% endblock css %}
{% block head_js %}{% endblock head_js %}
{% block head %}
    {{ wizard.form.media }}
{% endblock %}
{% block content %}
    <div class="h-screen bg-accent-50 flex flex-col items-center justify-center mb-4 relative">
        <!-- Logo Section -->
        <div class="mb-6">
            <img src="{% static 'static/logo/ajuju_logo.png' %}" alt="Logo" class="h-32">
        </div>

        <!-- Signup Options -->
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col items-center">
                <h2 class="text-xl font-semibold mb-2">Creator Signup</h2>
                <a class="py-3 px-6 rounded-xl bg-primary-500 text-white hover:bg-primary-600 transition duration-200" href="{% url 'users:creator_signup' %}">
                    Create Creator Account
                </a>
            </div>

            <div class="flex flex-col items-center">
                <h2 class="text-xl font-semibold mb-2">Whizzer Signup</h2>
                <a class="py-3 px-6 rounded-xl bg-primary-500 text-white hover:bg-primary-600 transition duration-200" href="{% url 'users:whizzer_signup' %}">
                    Create Whizzer Account
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_js %}{% endblock footer_js %}